<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="styles/styles.css" />
    <title>New folder</title>
  </head>
  <body>
    <%- include('../reusables/navbar')%>
    <main>
      <form action="/folderForm/submit" method="post">
        <legend>New folder</legend>
        <p>
          <label for="folderName">Folder name: </label>
          <input type="text" id="folderName" name="folderName" />
        </p>
        <p>
          <button type="submit">Create folder</button>
        </p>
      </form>
    </main>
  </body>
</html>
