<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <%- include('./reusables/navbar')%>
    <main>
      <div>
        <ul>
          <%for(let i = 0; i< locals.user.files.length; i++){%>
          <li>
            <a href="allFiles/<%=locals.user.files[i].id%>"
              ><%=locals.user.files[i].name%></a
            >
          </li>
          <%}%>
        </ul>
      </div>
    </main>
  </body>
</html>
