<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1>Home Page</h1>
    <%if(locals.loggedIn){%>
    <h2>Welcome back <%=locals.user.username%></h2>
    <a href="/logout">Logout</a>
    <%}%> <%if(!locals.loggedIn){%>
    <a href="/login">Login</a>
    <%}%>
  </body>
</html>
