<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/styles.css" />
    <title>Login</title>
  </head>
  <body>
    <form action="/login/submit" method="post">
      <legend>Log in</legend>
      <p>
        <label for="username">Username: </label>
        <input type="text" id="username" name="username" required />
      </p>
      <p>
        <label for="password">Password: </label>
        <input type="password" id="password" name="password" required />
      </p>
      <p>
        <button type="submit">Log in</button>
      </p>
    </form>
    <a href="/signup">Signup</a>
  </body>
</html>
