<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/styles.css" />
    <title>Signup</title>
  </head>
  <body>
    <form action="/signup/submit" method="post">
      <legend>Sign up</legend>
      <p>
        <label for="firstName">First name: </label>
        <input type="text" id="firstName" name="firstName" />
      </p>

      <p>
        <label for="lastName">Last name: </label>
        <input type="text" id="lastName" name="lastName" />
      </p>

      <p>
        <label for="username">Username: </label>
        <input type="text" id="username" name="username" />
      </p>

      <p>
        <label for="password">Password: </label>
        <input type="password" id="password" name="password" />
      </p>

      <p>
        <button type="submit">Submit</button>
      </p>
    </form>
    <a href="/login">Log in</a>
  </body>
</html>
