<nav>
  <div class="dashboard">
    <button>
      <a href="/">Dashboard</a>
    </button>
  </div>

  <div class="categories">
    <p>
      <button>
        <a href="/">All Files</a>
      </button>
    </p>
    <p>
      <button>
        <a href="/">All folders</a>
      </button>
    </p>
  </div>

  <div class="forms">
    <p>
      <button>
        <a href="/fileForm">New File</a>
      </button>
    </p>
    <p>
      <button>
        <a href="/folderForm">New Folder</a>
      </button>
    </p>
  </div>
</nav>
